name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.7", "3.0", "3.1"]
        gemfile:
          - gemfiles/rspec_3_8.gemfile
          - gemfiles/rspec_3_9.gemfile
          - gemfiles/rspec_3_10.gemfile
          - gemfiles/rspec_3_11.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: cd example && BUNDLE_GEMFILE=Gemfile bundle install --quiet && cd ..
      - run: bundle exec rspec
