name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4", "4.0"]
        gemfile:
          - gemfiles/rspec_3_11.gemfile
          - gemfiles/rspec_3_12.gemfile
          - gemfiles/rspec_3_13.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: cd example && BUNDLE_GEMFILE=Gemfile bundle install --quiet && cd ..
      - run: bundle exec rspec
